.header {
    padding: 10px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    border: 2px solid purple;
    background-color: white;
    color: black;
    padding: 5px 30px;
    height: 30px;
}

.input {
    display: inline;
    margin: 20px;
}

.input input {
    border: 1px solid orange;
    width: 30%;
    height: 25px;
}

.courses {
    border: 1px solid blue;
    padding: 10px;
}

.courseCard {
    border: 1px solid green;
    padding: 10px;
    margin: 20px;
}

.textarea {
    margin: 20px;
}

.textarea textarea {
    border: 1px solid yellow;
}

.createCourseAuthors {
    border: 1px solid black;
}